{% extends 'layout/base.html' %}
{% block content %}
<h1> Add </h1>
<div class="row">
    <form class="col s12" action="" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="city" type="text" class="validate">
          <label for="password">City</label>
        </div>
      </div>
       
      
      <div class="row">
        <div class="input-field col s12">
        <select id="category" name="category">
      <option value="" disabled selected>Choose Category</option>
       {% for cat in categories %}
                      <option value="{{cat.category}}">{{cat.category}}</option>
                  {% endfor %}
    </select>
    <label>Category</label>
         
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate">
          <label for="password">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate">
          <label for="email">Website</label>
        </div>
      </div>
      
      </div>
    </form>
  </div>
{% endblock %}

