{% extends 'layout/base.html' %}
{% block content %}
<div class="hero-image-create valign-wrapper">
   <div class="hero-text center-align">
      <h2>Create Activity </h2>
      <div class ="container header-text-createpage">
         <p>Been somewhere cool and want to share it with other travellers? As a registered user, all you have to do is fill in the form below, hit submit and your favourites will be added to the collection!</p>
         <p> Once you've submitted your activity, you'll be redirected to your listings page, where you can view all the activities you've created. </p>
         <p> Oops. Did you make a mistake and want to Edit the activity you created? Or do you want to delete it entirely? No worries! You can do all of that on the <a href="{{url_for('managemylistings')}}"> Manage My Listings Page. </a> </p>
      </div>
   </div>
</div>
   <div class="container">
      <div class="row">
         <form class="col s12 search-form header-text-createpage" action=" {{url_for('insert_activity')}}" method="POST">
            <div class="row">
               <div class="input-field col s12">
                  <input id="city" name="city" type="text" class="validate">
                  <label for="password">City</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <select name="category">
                     <option value="" disabled selected>Choose your option</option>
                     <option value="food">food</option>
                     <option value="sports">sports</option>
                     <option value="3">art</option>
                  </select>
                  <label>Category</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <input id="name" name="name" type="text" class="validate">
                  <label >Name</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field col s12">
                  <input id="description" name="description" type="text" class="validate">
                  <label>Description</label>
               </div>
            </div>
            <p>
               <button class="btn waves-effect waves-light" type="submit" name="action">Submit
               <i class="material-icons right">send</i>
               </button>
         </form>
      </div>
   </div>
{% endblock %}