{% extends 'layout/base.html' %}
{% block content %}
<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/images/traveller.jpg')">
  <div class="hero-text">
    <h1 style="font-family: 'Shadows Into Light', cursive; color:">Welcome </h1>
    <div class="row search-bar">
    <form class="col s12" action="{{url_for('find_activity')}}" method="POST">
      <div class="row">
        <div class="input-field col s12" style="background-color:white;">
           <input id="input" name="city" placeholder="type the name of a city here and search activities now "></input>
          
    
        
        </div>
<button class="btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right">send</i>
  </button>
      </div>
    </form>
  </div>
  </div>
</div>
<div class="row">
    <div class="col s6 m5">
      <div class="card-panel">
        <span class="black-text"> <p>Tired of rifling through travel guides, websites and blogs for activities that suit your needs as a solo-travellers? Then you're in the right place. The Solo-Traveller Handbook finds activities in your city of choice recommended by solo-travellers for solo-travellers. Our collection is created by you, for you. </p>
        </span>
      </div>
    </div>
    <div class="col s6 m5">
      <div class="card-panel">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
      </div>
    </div>
    
  </div>
            
  </div>
            
            
<!--<ul>
{% for activity in activities %}
           <li> {{activity.city}}</li>
           <li> {{activity.category}}</li>
           <li> {{activity.name}}</li>
        <li> {{activity._id}}</li>


<a class="waves-effect waves-light btn-large" href="{{url_for('edit_activity', activity_id=activity._id)}}">Edit</a>


{% endfor %}
</ul>--> 

{% endblock %}


