{% extends 'layout/base.html' %}
{% block content %}
<div class="hero-image-create valign-wrapper">
   <div class="hero-text center-align">
      <h2>Manage My Listings </h2>
      <p class="header-text"> Listed below are all of the activities you have created. </p>
      <p class="header-text"> Want to Create another one? <a class="waves-effect waves-light btn-small" href="{{url_for('addactivity')}}">Create New Activity</a></p>
   </div>
</div>
<main class="background">
   <div class="my-listings container">
      <div class ="row">
         <div class="col s12">
            <div class="card">
               <div class="card-content black-text">
                  {% if user_activities == []%}
                  <span class="card-title">
                     <p class="header-text-createpage">{{no_activities}}</p>
                  </span>
                  <button class="btn waves-effect waves-light"><a href="{{url_for('addactivity')}}">Create Activities</a></button>
                  {% else %}
                  {% for user_activity in user_activities %}
                  <span class="card-title"> {{user_activity.city|capitalize}}</span>
                  <p>Category: {{user_activity.category|capitalize}} </p>
                  <p>Name: {{user_activity.name|capitalize}} </p>
                  <p>Description: {{user_activity.description|capitalize}}</p>
                  <a class="waves-effect waves-light btn-large" href="{{url_for('edit_activity', user_activity_id=user_activity._id)}}">Edit</a>
                  <!-- Modal Trigger -->
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>
                  <!-- Modal Structure -->
                  <div id="modal1" class="modal">
                     <div class="modal-content">
                        <p class="header-text">Are you sure you want to delete this listing?</p>
                        <p class="header-text">If no, click out of the box and return to the main page.</p>
                     </div>
                     <div class="modal-footer">
                        <a class="waves-effect waves-light btn-large modal-close" href="{{url_for('delete_activity', user_activity_id=user_activity._id)}}">Yes</a>
                     </div>
                  </div>
                  <hr>
                  {% endfor %}
                  {% endif %} 
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}