{% extends 'layout/base.html' %}
{% block content %}
<div class="container">
   <h3 class="header-text"> Oopsie, looks like you don't have access to this content.</h3>
   <h3 class="header-text"> Maybe meander over to our <a href="{{url_for('register')}}"> Registration form </a> and create an account in order to access the full benefits of the Solo-Traveller-Handbook. </h3>
   <h3 class="header-text"> Or maybe you're already logged in and tried logging in twice? If that's the case, just click on any of the links in the navbar to go back to your account</h3>
</div>
{% endblock %}