/*css for all of the site */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav {
	background-color: rgba(233, 154, 39, 0.8)
}

footer {
	background-color: rgba(0, 82, 72, 0.7);
	font-family: 'Arimo', sans-serif;
	font-size: 1.5rem;
}

main {
	flex: 1 0 auto;
	overflow: hidden;
}

button {
	text-align: center;
	margin: 5px;
}

a {
	color: #FFF7ED;
	margin: 2px;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	margin-top: 2px;
}

.side-nav {
	background-color: rgba(233, 154, 39, 0.8)
}

img {
	overflow: hidden;
}

.brand-logo {
	background-image: url('../images/handbook-logo-smallscreen.png')
}

.header-text {
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
}

.background {
	background-color: rgba(102, 133, 152, 0.9);
}


/*css for home page only */

.input-field {
	background-color: #FFF7ED;
}

.card-panel {
	background-color: #FFF7ED;
	text-align: center;
	overflow: hidden;
}


/* The hero images - homepage, find page, create activity page and managelistings page */


/*code for hero images was taken from w3schools and heights etc modified for my purposes */

.hero-image {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	/* Set a specific height */
	min-height: 70vh;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/traveller.jpg')
}

.hero-image-find {
	/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/motorcyle.jpg");
	/* Set a specific height */
	min-height: 60vh;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero-image-create {
	/* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/lighthouse.png");
	/* Set a specific height */
	min-height: 60vh;
	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}


/*used for all forms on the site */

.search-form {
	background-color: #FFF7ED;
}

.my-listings {
    background-color: #FFF7ED;
}

.registration{
    background-color: rgba(102, 133, 152, 0.9);

}
/* Place text in the middle of the image */

.hero-text {
	text-align: center;
	width: 100%;
	color: #9CADBC;
}


/* Portrait and Landscape media queries to change images on different screen sizes */

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
	.hero-image-find {
		height: 100vh;
	}
	.hero-image-create {
		height: 100vh;
	}
	.hero-image {
		height: 100vh;
	}
	.hero-image-managelistings {
		height: 100vh;
	}
}