<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">


</head>

<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">My Activities</a></li>
  <li><a href="#!">Edit/Delete</a></li>
  <li class="divider"></li>
  <li><a href="#!">Create</a></li>
</ul>
<nav>
  <div class="nav-wrapper">

    <a href="#!" class="brand-logo" style="font-family: 'Shadows Into Light', cursive; color: #062136;">The Solo-Traveller Handbook</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Home</a></li>
      <li><a href="badges.html">Search Activity</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">My Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
        
    {% block content %} 
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
     $('select').material_select();
     $(".dropdown-trigger").dropdown();
  });
    </script>


</body>

</html>